.item {
    transition: transform .2s ease-in-out;
    
    &:hover {
        transform: translateY(-3px) scale(1.01);
        }
}

// FLIP CARD LOGIC
.card {
    text-align: center;
    color: white;
    perspective: 30rem;
    position: relative;

    &__side {
            height: 5rem;
            transition: transform 0.4s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            backface-visibility: hidden;
            border-radius: 5px;
            box-shadow: -5px 5px 35px 3px rgba(0, 0, 0, .5);
            overflow: hidden;

            &--front {
                background-color: royalblue;
                opacity: .9;   
            }

            &--back {
                transform: rotateX(180deg);
                &-1 {
                    background-color: rgb(194, 132, 0);     
                    opacity: .9;                
                }
            }
    }

    &:active &__side--front {
        transform: rotateX(-180deg);
    }

    &:active &__side--back {
        transform: rotateX(0deg);
    }    
}
