.item {
    transition: transform .2s ease-in-out;
    
    &:hover {
        transform: translateY(-3px) scale(1.01);
        }
}

// FLIP CARD LOGIC
.card {
    text-align: center;
    perspective: 30rem;
    position: relative;

    &__side {
            height: 5rem;
            
            &--size-large {
                height: 12rem;
            } 

            transition: transform 0.4s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            backface-visibility: hidden;
            border-radius: 5px;
            box-shadow: -5px 5px 35px 3px rgba(0, 0, 0, .4);
            overflow: hidden;
            opacity: 0.93;
            // FLIP CARD X-AXIS ROTATION
            &--front-x {
                background: rgb(219, 220, 235);
                &:active {
                    transform: rotateX(-180deg);
                }
            }

            &--back-x {
                transform: rotateX(180deg);
                background-color: rgb(168, 167, 165);                     
            }  
         
            // FLIP CARD Y-AXIS ROTATION
            &--front-y {
                background: rgb(219, 220, 235);
                
                &:active {
                    transform: rotateY(-180deg);
                }
            }

            &--back-y {
                transform: rotateY(180deg);
            opacity: 0.9;
            background-color: rgb(168, 167, 165);                    
            }
    }
    
    &:active &__side--back-x {
        transform: rotateX(0deg);
    }  

    &:active &__side--back-y {
        transform: rotateY(0deg);
    }    
}
