.arrow-container {
    position: relative;
}

.arrow1 {
    position: absolute;
    top: 10px;
    left: 37px;
}
.arrow2 {
    position: absolute;
    top: 10px;
    right: 23px;
}

.text-container {
    position: absolute;
    top: 9px;
    width: 100%;
    display: flex;
    font-size: 8px;
    justify-content: space-between;
}

.arrow-text-1{
    padding-left: 65px;
    color: black;
    &__previous {
        color: grey;
    }
}
.arrow-text-2{
    padding-right: 45px;
    &__previous {
        color: grey;
    }
}
