.container-8-columns {
    display: grid;
    grid-template-rows: 74px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    }

.container-1-columns {
    display: grid;
    grid-template-rows: 74px;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    }

.container-3-columns {
    display: grid;
    grid-template-rows: 143px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    }

.container-2-columns {
    display: grid;
    grid-template-rows: 143px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    }