.container-8-columns {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    }

.container-1-columns {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    }

.container-3-columns {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    }