body {
    background: rgb(204, 204, 204);
  }

.page-size-a4 {
    background-image: linear-gradient(
        to right bottom,
         rgba(64, 76, 148, 0.274),
         rgba(0, 24, 168, 0.90)),
         url('../../styles/images/hero.jpg');
    background-size: cover;
    background-position: top;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 10px;
    letter-spacing: .5px;
    display: block;
    margin-top: 70px;
    margin-left: 70px;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 3cm rgba(0, 0, 0, 0.5);
    width: 21cm;
    height: 29.7cm;
    padding: 5px;
  }
 
  @media print {
    body,
    page {
      margin: 0;
      box-shadow: 0;
      padding: 0;
    }

    .page-size-a4 {
      margin: 0;
      box-shadow: 0;
      background-image: none;
      //background-color: rgb(3, 19, 107);
      background-color: rgb(75, 75, 75);
    }

    .card {  
      &__side {
              opacity: 1;
              box-shadow: none;
              // FLIP CARD X-AXIS ROTATION
              &--front-x {
                  background: rgb(219, 220, 235);
              }
  
              &--back-x {
                  display:none;
                  transform: rotateX(180deg);
                  background-color: rgb(168, 167, 165);                     
              }  
           
              // FLIP CARD Y-AXIS ROTATION
              &--front-y {
                  background: rgb(219, 220, 235);
              }
  
              &--back-y {
                  display:none;
                  opacity: 1;
                  background-color: rgb(168, 167, 165);                    
              }
        }
      }
  }

  .main-layout-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-gap: 5px;
  }

  .header {
    position: relative;
  }

  .header-title {
    position: absolute;
    left: 300px;
    top: -10px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(56, 53, 53);
    letter-spacing: 1px;
    font-size: 40px;
  }

  .header-logo {
    position: absolute;
    top: 1rem;
    left: -6.5rem;
    height: 100px;
    width: 300px;
    background-image:url('../../styles/images/db-logo.png');
    background-size: 15%;
    background-blend-mode: color;
    //background-size: contain;
    background-position:top;
    background-repeat: no-repeat;
  }

  p{
    margin-top: 3px;  
    margin-bottom: 0;
    padding:0;
  }

 
  